*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5c4d1f;
}
.container{
    width: 80%;
    height: 60vh;
    background: url("./images/background.jpg") no-repeat center / cover;
    position: relative;
    border-radius: 10px;
    border: 3px solid #fff;
    box-shadow: 5px 10px 10px #000;
}
button{
    padding: 0.85rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    border: 3px solid #fff;
    background: transparent;
    position: absolute;
}
.btnPrev{
    top: 50%;
    transform: translate(50%, -50%);
    left: 0;
}
.btnNext{
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
}